<!-- HEADER -->
<header class="header container block pt-6">
    <h1 class="title has-text-centered is-1">
        DevSpot
    </h1>
    </div>
</header>
<!-- END HEADER -->

<!-- SIDEBAR -->
<section class="container pt-6">
    <div class="columns">
        <div class="column is-3">
            <figure class="image is-128x128">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <aside class="menu profile">
                <p class="menu-name title">
                    {{username}}
                </p>
                <p class="menu-location">
                    {{location}}
                </p>
                <p class="menu-gitHub">
                    <span class="icon is-small is-left">
                        <i class="fa-brands fa-github"></i>
                    </span>
                    {{gitHub}}
                </p>
                <p class="menu-linkedIn">
                    <span class="icon is-small is-left">
                        <i class="fa-brands fa-linkedin"></i>
                    </span>
                    {{linkedIn}}
                </p>
            </aside>
        </div>
        <!-- END SIDEBAR -->

        <!-- BIO -->
        <div class="column is-9">
            <div class="box  block">
                <div class="container">
                    <h2 class="is-size-3 title">Bio:</h2>
                    <h3 class="is-">{{bio}}</h3>
                </div>
            </div>
            <!-- END BIO -->

            <!-- FRONT END -->
            <div class="container box tech">
                <p class="title frontEnd is-size-3">
                    Front End Tech
                </p>
                <p>
                    {{#if expertise.html}}
                    <i class="fa-brands fa-html5 fa-2xl p-5 is-size-{{expertise.html}}">HTML</i>
                    {{/if}}
                    {{#if expertise.css}}
                    <i class="fa-brands fa-css3 fa-2xl p-5 is-size-{{expertise.css}}">CSS</i>
                    {{/if}}
                    {{#if expertise.javaScript}}
                    <i class="fa-brands fa-js-square fa-2xl p-5 is-size-5">JavaScript</i>
                    {{/if}}
                    {{#if expertise.bootstrap}}
                    <i class="fa-brands fa-bootstrap fa-2xl p-5">Bootstrap</i>
                    {{/if}}
                    {{#if expertise.vueJs}}
                    <i class="fa-brands fa-vuejs fa-2xl p-5">Vue.JS</i>
                    {{/if}}
                    {{#if expertise.angular}}
                    <i class="fa-brands fa-angular fa-2xl p-5">Angular</i>
                    {{/if}}
                </p>
            </div>
            <!-- END FRONT END -->

            <!-- BACK END -->
            <div class="container box tech">
                <p class="title backEnd is-size-3">
                    Back End Tech
                </p>
                <p>
                    {{#if expertise.python}}
                    <i class="fa-brands fa-python fa-2xl p-5">Python</i>
                    {{/if}}
                    {{#if expertise.ruby}}
                    <i class="fa-solid fa-gem fa-2xl p-5 is-size-{{expertise.ruby}}">Ruby</i>
                    {{/if}}
                    {{#if expertise.php}}
                    <i class="fa-brands fa-php fa-2xl p-5">PHP</i>
                    {{/if}}
                    {{#if expertise.java}}
                    <i class="fa-brands fa-java fa-2xl p-5">Java</i>
                    {{/if}}
                    {{#if expertise.cPlusPlus}}
                    <i class="fa-solid fa-code fa-2xl p-5">C++</i>
                    {{/if}}
                    {{#if expertise.nodeJs}}
                    <i class="fa-brands fa-node fa-2xl p-5 is-size-{{expertise.nodeJs}}">Node.JS</i>
                    {{/if}}
                </p>
            </div>
            <!-- END BACK END -->

            <!-- OTHER TECH -->
            <div class="container box tech mb-6">
                <p class="title  otherTech is-size-3">
                    Other Tech
                </p>
                <p>
                    {{#if expertise.vsCode}}
                    <i class="fa-solid fa-desktop fa-2xl p-5">VS Code</i>
                    {{/if}}
                    {{#if expertise.microsoft}}
                    <i class="fa-brands fa-microsoft fa-2xl p-5">Microsoft</i>
                    {{/if}}
                    {{#if expertise.apple}}
                    <i class="fa-brands fa-apple fa-2xl p-5 is-size-{{expertise.apple}}">Apple</i>
                    {{/if}}
                    {{#if expertise.homebrew}}
                    <i class="fa-solid fa-beer-mug fa-2xl p-5">Homebrew</i>
                    {{/if}}
                    {{#if expertise.bash}}
                    <i class="fa-solid fa-hashtag fa-2xl p-5 is-size-{{expertise.bash}}">Bash</i>
                    {{/if}}
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END OTHER TECH -->