<!-- HEADER -->
<header class="header container block pt-6">
    <h1 class="title has-text-centered is-1">
        {{profile.name}}
    </h1>
    </div>
</header>
<!-- END HEADER -->

<!-- SIDEBAR -->
<section class="container pt-6">
    <div class="columns">
        <div class="column is-3">
            <figure class="image is-128x128">
                <img src={{image_link}}>
            </figure>
            <aside class="menu profile">
                <p class="menu-name title">
                    {{username}}
                </p>
                <p class="menu-location">
                    {{profile.location}}
                </p>
                <p class="menu-gitHub">
                    <span class="icon is-small is-left">
                        <i class="fa-brands fa-github"></i>
                    </span>
                    {{profile.github}}
                </p>
                <p class="menu-linkedIn">
                    <span class="icon is-small is-left">
                        <i class="fa-brands fa-linkedin"></i>
                    </span>
                    {{profile.linkedin}}
                </p>
            </aside>
        </div>
        <!-- END SIDEBAR -->

        <!-- BIO -->
        <div class="column is-9">
            <div class="box  block">
                <div class="container">
                    <h2 class="is-size-3 title">Bio:</h2>
                    <h3 class="is-">{{profile.bio}}</h3>
                </div>
            </div>
            <!-- END BIO -->

            <!-- FRONT END -->
            <div class="container box tech">
                <div class="col-12">
                    <p class="title frontEnd is-size-3">
                        Front End Tech
                    </p>
                </div>

                <div class="tech-container">
                    {{#each fe_techs}}
                    <div class="tech-div"><img src="{{image_link}}">
                        <div class="prof-container">
                            <div class="prof-meter-{{user_tech.proficiency}}"></div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- END FRONT END -->

            <!-- BACK END -->
            <div class="container box tech">
                <p class="title backEnd is-size-3">
                    Back End Tech
                </p>
                <div class="tech-container">
                    {{#each be_techs}}
                    <div class="tech-div"><img src="{{image_link}}">
                        <div class="prof-container">
                            <div class="prof-meter-{{user_tech.proficiency}}"></div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <!-- END BACK END -->

            <!-- OTHER TECH -->
            <div class="container box tech mb-6">
                <p class="title  otherTech is-size-3">
                    Other Tech
                </p>
                <div class="tech-container">
                    {{#each other_techs}}
                    <div class="tech-div"><img src="{{image_link}}">
                        <div class="prof-container">
                            <div class="prof-meter-{{user_tech.proficiency}}"></div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OTHER TECH -->